<a href="https://colab.research.google.com/github/ChrisHamilton91/csi4106-project1/blob/master/notebook/csi4106_p1_group100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This code prepares a new VM to execute arbitrary code blocks
#### We import csv and joblib files from github, and set global variables

In [ ]:
import joblib
from sklearn.model_selection import cross_validate
from sklearn.metrics import make_scorer
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

### DATA ###
# class.csv - describes classes
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/class.csv'

# zoo.csv - describes features
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/zoo.csv'

# animals - Dataframe from zoo.csv
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/animals.joblib'
animals = joblib.load('animals.joblib')

# features - Dataframe from zoo.csv with animal_name and class_type stripped
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/features.joblib'
features = joblib.load('features.joblib')

# labels - class_type labels for features
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/labels.joblib'
labels = joblib.load('labels.joblib')

# class_dict - Dictionary of { class_number: class_name }
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/class_dict.joblib'
class_dict = joblib.load('class_dict.joblib')

# split_data - Data split into k folds
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/split_data.joblib'
split_data = joblib.load('split_data.joblib')

### MODEL RESULTS ###
# Naive Bayes I
## Models
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/model_results/nb1_models.joblib'
nb1_models = joblib.load('nb1_models.joblib')
## Predictions
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/model_results/nb1_preds.joblib'
nb1_preds = joblib.load('nb1_preds.joblib')

# Naive Bayes II
## Models
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/model_results/nb2_models.joblib'
nb2_models = joblib.load('nb2_models.joblib')
## Predictions
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/model_results/nb2_preds.joblib'
nb2_preds = joblib.load('nb2_preds.joblib')

# Naive Bayes III
## Models
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/model_results/nb3_models.joblib'
nb3_models = joblib.load('nb3_models.joblib')
## Predictions
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/model_results/nb3_preds.joblib'
nb3_preds = joblib.load('nb3_preds.joblib')

# CSI 4106 Project 1 
# Group 100

## 1. Understand the classification task

a. Is it a binary/multi-class classification dataset?

b. What is the goal? Is this for a particular classification study?

## 2. Analyze the dataset

a. Characterize the dataset in terms of number of training examples, number of features, missing data etc.

## 3. Brainstorm about attributes

a.Think about the features that could be used for this task.

## 4. Encode the features

The features are encoded as discrete values in the file 'zoo.csv'. We just need to strip the 'animal_name' and 'class_type' columns.

We encode the 'class_type' column as the feature labels.

We will also extract the names of classes from 'class.csv', and map them to their associated number.

We save the objects to a joblib file and transfer them to github for persistence. You can see them being imported at the top of the notebook.

In [36]:
import pandas as pd
import joblib

animals = pd.read_csv('zoo.csv')
joblib.dump(animals, 'animals.joblib')

features = animals.iloc[:,1:-1] # trim animal name and class_type
joblib.dump(features, 'features.joblib')

labels = animals.iloc[:,-1] # just class_type
joblib.dump(labels, 'labels.joblib')

classes = pd.read_csv('class.csv')
class_dict = {}
for _, row in classes.iterrows():
   class_dict[row.Class_Number] = row.Class_Type
joblib.dump(class_dict, 'class_dict.joblib')

print('***************ANIMALS***************')
print()
print(animals)
print()
print('***************FEATURES***************')
print()
print(features)
print()
print('***************LABELS***************')
print()
print(labels)
print()
print('***************CLASS_DICT***************')
print()
print(class_dict)
print()

***************ANIMALS***************

    animal_name  hair  feathers  eggs  milk  airborne  aquatic  predator  \
0      aardvark     1         0     0     1         0        0         1
1      antelope     1         0     0     1         0        0         0
2          bass     0         0     1     0         0        1         1
3          bear     1         0     0     1         0        0         1
4          boar     1         0     0     1         0        0         1
..          ...   ...       ...   ...   ...       ...      ...       ...
96      wallaby     1         0     0     1         0        0         0
97         wasp     1         0     1     0         1        0         0
98         wolf     1         0     0     1         0        0         1
99         worm     0         0     1     0         0        0         0
100        wren     0         1     1     0         1        0         0

     toothed  backbone  breathes  venomous  fins  legs  tail  domestic  \
0          1         1         1         0     0     4     0         0
1          1         1         1         0     0     4     1         0
2          1         1         0         0     1     0     1         0
3          1         1         1         0     0     4     0         0
4          1         1         1         0     0     4     1         0
..       ...       ...       ...       ...   ...   ...   ...       ...
96         1         1         1         0     0     2     1         0
97         0         0         1         1     0     6     0         0
98         1         1         1         0     0     4     1         0
99         0         0         1         0     0     0     0         0
100        0         1         1         0     0     2     1         0

     catsize  class_type
0          1           1
1          1           1
2          0           4
3          1           1
4          1           1
..       ...         ...
96         1           1
97         0           6
98         1           1
99         0           7
100        0           2

[101 rows x 18 columns]

***************FEATURES***************

     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
0       1         0     0     1         0        0         1        1
1       1         0     0     1         0        0         0        1
2       0         0     1     0         0        1         1        1
3       1         0     0     1         0        0         1        1
4       1         0     0     1         0        0         1        1
..    ...       ...   ...   ...       ...      ...       ...      ...
96      1         0     0     1         0        0         0        1
97      1         0     1     0         1        0         0        0
98      1         0     0     1         0        0         1        1
99      0         0     1     0         0        0         0        0
100     0         1     1     0         1        0         0        0

     backbone  breathes  venomous  fins  legs  tail  domestic  catsize
0           1         1         0     0     4     0         0        1
1           1         1         0     0     4     1         0        1
2           1         0         0     1     0     1         0        0
3           1         1         0     0     4     0         0        1
4           1         1         0     0     4     1         0        1
..        ...       ...       ...   ...   ...   ...       ...      ...
96          1         1         0     0     2     1         0        1
97          0         1         1     0     6     0         0        0
98          1         1         0     0     4     1         0        1
99          0         1         0     0     0     0         0        0
100         1         1         0     0     2     1         0        0

[101 rows x 16 columns]

***************LABELS***************

0      1
1      1
2      4
3      1
4      1
      ..
96     1
97     6
98     1
99     7
100    2
Name: class_type, Length: 101, dtype: int64

***************CLASS_DICT***************

{1: 'Mammal', 2: 'Bird', 3: 'Reptile', 4: 'Fish', 5: 'Amphibian', 6: 'Bug', 7: 'Invertebrate'}

## 5. Prepare data using cross-validation

We use 4-fold cross-validation.

In [135]:
from sklearn.model_selection import KFold

kf = KFold(4)
data_indices = kf.split(features, labels)

split_data = []
for train_indices, test_indices in data_indices:
  split_data.append({
      'train_data': features.iloc[train_indices], 
      'train_labels': labels.iloc[train_indices],
      'test_data': features.iloc[test_indices],
      'test_labels': labels.iloc[test_indices]})

i = 0
for d in split_data:
  print(f'***Train Data {i}***')
  print(d['train_data'])
  print(f'***Train Labels {i}***')
  print(d['train_labels'])
  print(f'***Test Data {i}***')
  print(d['test_data'])
  print(f'***Test Labels {i}***')
  print(d['test_labels'])
  i += 1

joblib.dump(split_data, 'split_data.joblib')

***Train Data 0***
     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
26      0         0     1     0         0        1         1        1
27      1         0     0     1         1        0         0        1
28      1         0     0     1         0        0         0        1
29      1         0     0     1         0        0         1        1
30      0         0     1     0         1        0         0        0
..    ...       ...   ...   ...       ...      ...       ...      ...
96      1         0     0     1         0        0         0        1
97      1         0     1     0         1        0         0        0
98      1         0     0     1         0        0         1        1
99      0         0     1     0         0        0         0        0
100     0         1     1     0         1        0         0        0

     backbone  breathes  venomous  fins  legs  tail  domestic  catsize
26          1         1         1     0     4     0         0        0
27          1         1         0     0     2     1         0        0
28          1         1         0     0     4     1         0        1
29          1         1         0     0     2     0         1        1
30          0         1         0     0     6     0         0        0
..        ...       ...       ...   ...   ...   ...       ...      ...
96          1         1         0     0     2     1         0        1
97          0         1         1     0     6     0         0        0
98          1         1         0     0     4     1         0        1
99          0         1         0     0     0     0         0        0
100         1         1         0     0     2     1         0        0

[75 rows x 16 columns]
***Train Labels 0***
26     5
27     1
28     1
29     1
30     6
      ..
96     1
97     6
98     1
99     7
100    2
Name: class_type, Length: 75, dtype: int64
***Test Data 0***
    hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
0      1         0     0     1         0        0         1        1
1      1         0     0     1         0        0         0        1
2      0         0     1     0         0        1         1        1
3      1         0     0     1         0        0         1        1
4      1         0     0     1         0        0         1        1
5      1         0     0     1         0        0         0        1
6      1         0     0     1         0        0         0        1
7      0         0     1     0         0        1         0        1
8      0         0     1     0         0        1         1        1
9      1         0     0     1         0        0         0        1
10     1         0     0     1         0        0         1        1
11     0         1     1     0         1        0         0        0
12     0         0     1     0         0        1         1        1
13     0         0     1     0         0        0         1        0
14     0         0     1     0         0        1         1        0
15     0         0     1     0         0        1         1        0
16     0         1     1     0         1        0         1        0
17     1         0     0     1         0        0         0        1
18     0         0     1     0         0        1         1        1
19     0         0     0     1         0        1         1        1
20     0         1     1     0         1        0         0        0
21     0         1     1     0         1        1         0        0
22     1         0     0     1         0        0         0        1
23     0         1     1     0         1        0         0        0
24     0         0     1     0         0        0         0        0
25     0         0     1     0         0        1         1        1

    backbone  breathes  venomous  fins  legs  tail  domestic  catsize
0          1         1         0     0     4     0         0        1
1          1         1         0     0     4     1         0        1
2          1         0         0     1     0     1         0        0
3          1         1         0     0     4     0         0        1
4          1         1         0     0     4     1         0        1
5          1         1         0     0     4     1         0        1
6          1         1         0     0     4     1         1        1
7          1         0         0     1     0     1         1        0
8          1         0         0     1     0     1         0        0
9          1         1         0     0     4     0         1        0
10         1         1         0     0     4     1         0        1
11         1         1         0     0     2     1         1        0
12         1         0         0     1     0     1         0        0
13         0         0         0     0     0     0         0        0
14         0         0         0     0     4     0         0        0
15         0         0         0     0     6     0         0        0
16         1         1         0     0     2     1         0        0
17         1         1         0     0     4     1         0        1
18         1         0         0     1     0     1         0        1
19         1         1         0     1     0     1         0        1
20         1         1         0     0     2     1         1        0
21         1         1         0     0     2     1         0        0
22         1         1         0     0     4     1         0        1
23         1         1         0     0     2     1         0        1
24         0         1         0     0     6     0         0        0
25         1         1         0     0     4     0         0        0
***Test Labels 0***
0     1
1     1
2     4
3     1
4     1
5     1
6     1
7     4
8     4
9     1
10    1
11    2
12    4
13    7
14    7
15    7
16    2
17    1
18    4
19    1
20    2
21    2
22    1
23    2
24    6
25    5
Name: class_type, dtype: int64
***Train Data 1***
     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
0       1         0     0     1         0        0         1        1
1       1         0     0     1         0        0         0        1
2       0         0     1     0         0        1         1        1
3       1         0     0     1         0        0         1        1
4       1         0     0     1         0        0         1        1
..    ...       ...   ...   ...       ...      ...       ...      ...
96      1         0     0     1         0        0         0        1
97      1         0     1     0         1        0         0        0
98      1         0     0     1         0        0         1        1
99      0         0     1     0         0        0         0        0
100     0         1     1     0         1        0         0        0

     backbone  breathes  venomous  fins  legs  tail  domestic  catsize
0           1         1         0     0     4     0         0        1
1           1         1         0     0     4     1         0        1
2           1         0         0     1     0     1         0        0
3           1         1         0     0     4     0         0        1
4           1         1         0     0     4     1         0        1
..        ...       ...       ...   ...   ...   ...       ...      ...
96          1         1         0     0     2     1         0        1
97          0         1         1     0     6     0         0        0
98          1         1         0     0     4     1         0        1
99          0         1         0     0     0     0         0        0
100         1         1         0     0     2     1         0        0

[76 rows x 16 columns]
***Train Labels 1***
0      1
1      1
2      4
3      1
4      1
      ..
96     1
97     6
98     1
99     7
100    2
Name: class_type, Length: 76, dtype: int64
***Test Data 1***
    hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
26     0         0     1     0         0        1         1        1
27     1         0     0     1         1        0         0        1
28     1         0     0     1         0        0         0        1
29     1         0     0     1         0        0         1        1
30     0         0     1     0         1        0         0        0
31     1         0     0     1         0        0         0        1
32     1         0     0     1         0        0         0        1
33     0         1     1     0         1        1         1        0
34     0         0     1     0         0        1         0        1
35     1         0     0     1         0        0         0        1
36     1         0     0     1         0        0         0        1
37     0         1     1     0         1        0         1        0
38     0         0     1     0         0        1         1        1
39     1         0     1     0         1        0         0        0
40     1         0     1     0         1        0         0        0
41     0         1     1     0         0        0         1        0
42     0         0     1     0         1        0         1        0
43     0         1     1     0         1        0         0        0
44     1         0     0     1         0        0         1        1
45     1         0     0     1         0        0         1        1
46     0         0     1     0         0        1         1        0
47     1         0     0     1         0        0         1        1
48     1         0     0     1         0        1         1        1
49     1         0     0     1         0        0         1        1
50     1         0     0     1         0        0         1        1

    backbone  breathes  venomous  fins  legs  tail  domestic  catsize
26         1         1         1     0     4     0         0        0
27         1         1         0     0     2     1         0        0
28         1         1         0     0     4     1         0        1
29         1         1         0     0     2     0         1        1
30         0         1         0     0     6     0         0        0
31         1         1         0     0     4     1         1        1
32         1         1         0     0     2     0         0        1
33         1         1         0     0     2     1         0        0
34         1         0         0     1     0     1         0        0
35         1         1         0     0     4     1         1        0
36         1         1         0     0     4     1         0        0
37         1         1         0     0     2     1         0        0
38         1         0         0     1     0     1         0        0
39         0         1         1     0     6     0         1        0
40         0         1         0     0     6     0         0        0
41         1         1         0     0     2     1         0        0
42         0         1         0     0     6     0         0        0
43         1         1         0     0     2     1         0        0
44         1         1         0     0     4     1         0        1
45         1         1         0     0     4     1         0        1
46         0         0         0     0     6     0         0        0
47         1         1         0     0     4     1         0        1
48         1         1         0     0     4     1         0        1
49         1         1         0     0     4     1         0        0
50         1         1         0     0     4     1         0        1
***Test Labels 1***
26    5
27    1
28    1
29    1
30    6
31    1
32    1
33    2
34    4
35    1
36    1
37    2
38    4
39    6
40    6
41    2
42    6
43    2
44    1
45    1
46    7
47    1
48    1
49    1
50    1
Name: class_type, dtype: int64
***Train Data 2***
     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
0       1         0     0     1         0        0         1        1
1       1         0     0     1         0        0         0        1
2       0         0     1     0         0        1         1        1
3       1         0     0     1         0        0         1        1
4       1         0     0     1         0        0         1        1
..    ...       ...   ...   ...       ...      ...       ...      ...
96      1         0     0     1         0        0         0        1
97      1         0     1     0         1        0         0        0
98      1         0     0     1         0        0         1        1
99      0         0     1     0         0        0         0        0
100     0         1     1     0         1        0         0        0

     backbone  breathes  venomous  fins  legs  tail  domestic  catsize
0           1         1         0     0     4     0         0        1
1           1         1         0     0     4     1         0        1
2           1         0         0     1     0     1         0        0
3           1         1         0     0     4     0         0        1
4           1         1         0     0     4     1         0        1
..        ...       ...       ...   ...   ...   ...       ...      ...
96          1         1         0     0     2     1         0        1
97          0         1         1     0     6     0         0        0
98          1         1         0     0     4     1         0        1
99          0         1         0     0     0     0         0        0
100         1         1         0     0     2     1         0        0

[76 rows x 16 columns]
***Train Labels 2***
0      1
1      1
2      4
3      1
4      1
      ..
96     1
97     6
98     1
99     7
100    2
Name: class_type, Length: 76, dtype: int64
***Test Data 2***
    hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
51     1         0     1     0         1        0         0        0
52     0         0     1     0         0        1         1        1
53     0         0     1     0         0        1         1        0
54     1         0     0     1         0        0         1        1
55     1         0     0     1         0        0         0        1
56     0         1     1     0         0        0         0        0
57     0         1     1     0         1        0         0        0
58     0         1     1     0         0        1         1        0
59     0         1     1     0         1        0         0        0
60     0         0     1     0         0        1         1        1
61     0         0     1     0         0        1         1        1
62     0         0     1     0         0        0         1        1
63     1         0     1     1         0        1         1        0
64     1         0     0     1         0        0         1        1
65     1         0     0     1         0        0         0        1
66     0         0     0     1         0        1         1        1
67     1         0     0     1         0        0         1        1
68     1         0     0     1         0        0         1        1
69     1         0     0     1         0        0         1        1
70     1         0     0     1         0        0         0        1
71     0         1     1     0         0        0         1        0
72     0         0     0     0         0        0         1        0
73     0         0     1     0         0        1         0        1
74     1         0     0     1         0        1         1        1
75     1         0     0     1         0        1         1        1

    backbone  breathes  venomous  fins  legs  tail  domestic  catsize
51         0         1         0     0     6     0         0        0
52         1         1         0     0     4     1         0        0
53         0         0         0     0     8     0         0        1
54         1         1         0     0     4     1         0        0
55         1         1         0     0     4     1         0        1
56         1         1         0     0     2     1         0        1
57         1         1         0     0     2     1         1        0
58         1         1         0     0     2     1         0        1
59         1         1         0     0     2     1         0        0
60         1         0         0     1     0     1         0        1
61         1         0         0     1     0     1         0        0
62         1         1         1     0     0     1         0        0
63         1         1         0     0     4     1         0        1
64         1         1         0     0     4     1         0        1
65         1         1         0     0     4     1         1        1
66         1         1         0     1     0     1         0        1
67         1         1         0     0     4     1         0        1
68         1         1         0     0     4     1         1        1
69         1         1         0     0     4     1         0        1
70         1         1         0     0     4     1         1        1
71         1         1         0     0     2     1         0        1
72         0         1         1     0     8     1         0        0
73         1         0         0     1     0     1         0        0
74         1         1         0     1     0     0         0        1
75         1         1         0     1     2     1         0        1
***Test Labels 2***
51    6
52    5
53    7
54    1
55    1
56    2
57    2
58    2
59    2
60    4
61    4
62    3
63    1
64    1
65    1
66    1
67    1
68    1
69    1
70    1
71    2
72    7
73    4
74    1
75    1
Name: class_type, dtype: int64
***Train Data 3***
    hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
0      1         0     0     1         0        0         1        1
1      1         0     0     1         0        0         0        1
2      0         0     1     0         0        1         1        1
3      1         0     0     1         0        0         1        1
4      1         0     0     1         0        0         1        1
..   ...       ...   ...   ...       ...      ...       ...      ...
71     0         1     1     0         0        0         1        0
72     0         0     0     0         0        0         1        0
73     0         0     1     0         0        1         0        1
74     1         0     0     1         0        1         1        1
75     1         0     0     1         0        1         1        1

    backbone  breathes  venomous  fins  legs  tail  domestic  catsize
0          1         1         0     0     4     0         0        1
1          1         1         0     0     4     1         0        1
2          1         0         0     1     0     1         0        0
3          1         1         0     0     4     0         0        1
4          1         1         0     0     4     1         0        1
..       ...       ...       ...   ...   ...   ...       ...      ...
71         1         1         0     0     2     1         0        1
72         0         1         1     0     8     1         0        0
73         1         0         0     1     0     1         0        0
74         1         1         0     1     0     0         0        1
75         1         1         0     1     2     1         0        1

[76 rows x 16 columns]
***Train Labels 3***
0     1
1     1
2     4
3     1
4     1
     ..
71    2
72    7
73    4
74    1
75    1
Name: class_type, Length: 76, dtype: int64
***Test Data 3***
     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
76      0         0     0     0         0        1         1        1
77      0         0     1     0         0        1         1        0
78      0         1     1     0         1        1         1        0
79      0         1     1     0         1        1         1        0
80      0         0     1     0         0        0         1        1
81      0         0     1     0         0        0         0        0
82      0         0     1     0         0        1         0        1

['split_data.joblib']

## 6. Train 3 models

### Naive Bayes I

We use Bernoulli Naive Bayes with the default parameters:

alpha: 1.0

fit_prior: true

In [150]:
from sklearn.naive_bayes import BernoulliNB

nb1_models = []
for d in split_data:
  bnb = BernoulliNB()
  nb1_models.append(bnb.fit(d['train_data'], d['train_labels']))

joblib.dump(nb1_models, 'nb1_models.joblib')

print(nb1_models)

[BernoulliNB(), BernoulliNB(), BernoulliNB(), BernoulliNB()]

### Naive Bayes II

We use Bernoulli Naive Bayes and change the alpha (smoothing parameter) to 100:

alpha: 100.0

fit_prior: true

In [151]:
from sklearn.naive_bayes import BernoulliNB

nb2_models = []
for d in split_data:
  bnb = BernoulliNB(alpha=100)
  nb2_models.append(bnb.fit(d['train_data'], d['train_labels']))

joblib.dump(nb2_models, 'nb2_models.joblib')

print(nb2_models)

[BernoulliNB(alpha=100), BernoulliNB(alpha=100), BernoulliNB(alpha=100), BernoulliNB(alpha=100)]

### Naive Bayes III

We use Bernoulli Naive Bayes and change fit_prior to False, which uses a uniform prior:

alpha: 1.0

fit_prior: false

In [152]:
from sklearn.naive_bayes import BernoulliNB

nb3_models = []
for d in split_data:
  bnb = BernoulliNB(fit_prior=False)
  nb3_models.append(bnb.fit(d['train_data'], d['train_labels']))

joblib.dump(nb3_models, 'nb3_models.joblib')

print(nb3_models)

[BernoulliNB(fit_prior=False), BernoulliNB(fit_prior=False), BernoulliNB(fit_prior=False), BernoulliNB(fit_prior=False)]

### Logistic Regression I

### Logistic Regression II

### Logistic Regression III

### Multi-Layer Perceptron I

### Multi-Layer Perceptron II

### Multi-Layer Perceptron III

## 7. Test models using cross validation

### Naive Bayes I

In [147]:
nb1_preds = []

for i, model in enumerate(nb1_models):
  test_data = split_data[i]['test_data']
  test_labels = split_data[i]['test_labels']
  preds = model.predict(test_data)
  nb1_preds.append(preds)

  print(f'***Model {i} Predictions:***')
  for j, animal_idx in enumerate(test_data.index):
    animal_name = animals.iloc[animal_idx,0]
    predicted_class = preds[j]
    actual_class = test_labels.iloc[j]
    correct = predicted_class == actual_class
    if (correct):
      print(animal_name + ": " + class_dict[predicted_class] + " ✔️")
    else:
      print(animal_name + ": " + class_dict[predicted_class] + " ❌ " + class_dict[actual_class])
  print()

joblib.dump(nb1_preds, 'nb1_preds.joblib')

***Model 0 Predictions:***
aardvark: Mammal ✔️
antelope: Mammal ✔️
bass: Fish ✔️
bear: Mammal ✔️
boar: Mammal ✔️
buffalo: Mammal ✔️
calf: Mammal ✔️
carp: Fish ✔️
catfish: Fish ✔️
cavy: Mammal ✔️
cheetah: Mammal ✔️
chicken: Bird ✔️
chub: Fish ✔️
clam: Invertebrate ✔️
crab: Invertebrate ✔️
crayfish: Invertebrate ✔️
crow: Bird ✔️
deer: Mammal ✔️
dogfish: Fish ✔️
dolphin: Mammal ✔️
dove: Bird ✔️
duck: Bird ✔️
elephant: Mammal ✔️
flamingo: Bird ✔️
flea: Bug ✔️
frog: Amphibian ✔️

***Model 1 Predictions:***
frog: Amphibian ✔️
fruitbat: Mammal ✔️
giraffe: Mammal ✔️
girl: Mammal ✔️
gnat: Bug ✔️
goat: Mammal ✔️
gorilla: Mammal ✔️
gull: Bird ✔️
haddock: Fish ✔️
hamster: Mammal ✔️
hare: Mammal ✔️
hawk: Bird ✔️
herring: Fish ✔️
honeybee: Bug ✔️
housefly: Bug ✔️
kiwi: Bird ✔️
ladybird: Bug ✔️
lark: Bird ✔️
leopard: Mammal ✔️
lion: Mammal ✔️
lobster: Invertebrate ✔️
lynx: Mammal ✔️
mink: Mammal ✔️
mole: Mammal ✔️
mongoose: Mammal ✔️

***Model 2 Predictions:***
moth: Bug ✔️
newt: Reptile ❌ Amphibian
octopus: Invertebrate ✔️
opossum: Mammal ✔️
oryx: Mammal ✔️
ostrich: Bird ✔️
parakeet: Bird ✔️
penguin: Bird ✔️
pheasant: Bird ✔️
pike: Fish ✔️
piranha: Fish ✔️
pitviper: Reptile ✔️
platypus: Mammal ✔️
polecat: Mammal ✔️
pony: Mammal ✔️
porpoise: Fish ❌ Mammal
puma: Mammal ✔️
pussycat: Mammal ✔️
raccoon: Mammal ✔️
reindeer: Mammal ✔️
rhea: Bird ✔️
scorpion: Reptile ❌ Invertebrate
seahorse: Fish ✔️
seal: Mammal ✔️
sealion: Mammal ✔️

***Model 3 Predictions:***
seasnake: Fish ❌ Reptile
seawasp: Invertebrate ✔️
skimmer: Bird ✔️
skua: Bird ✔️
slowworm: Amphibian ❌ Reptile
slug: Bug ❌ Invertebrate
sole: Fish ✔️
sparrow: Bird ✔️
squirrel: Mammal ✔️
starfish: Invertebrate ✔️
stingray: Fish ✔️
swan: Bird ✔️
termite: Bug ✔️
toad: Amphibian ✔️
tortoise: Bird ❌ Reptile
tuatara: Amphibian ❌ Reptile
tuna: Fish ✔️
vampire: Mammal ✔️
vole: Mammal ✔️
vulture: Bird ✔️
wallaby: Mammal ✔️
wasp: Bug ✔️
wolf: Mammal ✔️
worm: Bug ❌ Invertebrate
wren: Bird ✔️

['nb1_preds.joblib']

### Naive Bayes II

In [148]:
nb2_preds = []

for i, model in enumerate(nb2_models):
  test_data = split_data[i]['test_data']
  test_labels = split_data[i]['test_labels']
  preds = model.predict(test_data)
  nb2_preds.append(preds)

  print(f'***Model {i} Predictions:***')
  for j, animal_idx in enumerate(test_data.index):
    animal_name = animals.iloc[animal_idx,0]
    predicted_class = preds[j]
    actual_class = test_labels.iloc[j]
    correct = predicted_class == actual_class
    if (correct):
      print(animal_name + ": " + class_dict[predicted_class] + " ✔️")
    else:
      print(animal_name + ": " + class_dict[predicted_class] + " ❌ " + class_dict[actual_class])
  print()

joblib.dump(nb2_preds, 'nb2_preds.joblib')

***Model 0 Predictions:***
aardvark: Mammal ✔️
antelope: Mammal ✔️
bass: Mammal ❌ Fish
bear: Mammal ✔️
boar: Mammal ✔️
buffalo: Mammal ✔️
calf: Mammal ✔️
carp: Mammal ❌ Fish
catfish: Mammal ❌ Fish
cavy: Mammal ✔️
cheetah: Mammal ✔️
chicken: Bird ✔️
chub: Mammal ❌ Fish
clam: Mammal ❌ Invertebrate
crab: Mammal ❌ Invertebrate
crayfish: Mammal ❌ Invertebrate
crow: Bird ✔️
deer: Mammal ✔️
dogfish: Mammal ❌ Fish
dolphin: Mammal ✔️
dove: Bird ✔️
duck: Bird ✔️
elephant: Mammal ✔️
flamingo: Bird ✔️
flea: Mammal ❌ Bug
frog: Mammal ❌ Amphibian

***Model 1 Predictions:***
frog: Mammal ❌ Amphibian
fruitbat: Mammal ✔️
giraffe: Mammal ✔️
girl: Mammal ✔️
gnat: Bird ❌ Bug
goat: Mammal ✔️
gorilla: Mammal ✔️
gull: Bird ✔️
haddock: Mammal ❌ Fish
hamster: Mammal ✔️
hare: Mammal ✔️
hawk: Bird ✔️
herring: Mammal ❌ Fish
honeybee: Mammal ❌ Bug
housefly: Mammal ❌ Bug
kiwi: Bird ✔️
ladybird: Bird ❌ Bug
lark: Bird ✔️
leopard: Mammal ✔️
lion: Mammal ✔️
lobster: Bird ❌ Invertebrate
lynx: Mammal ✔️
mink: Mammal ✔️
mole: Mammal ✔️
mongoose: Mammal ✔️

***Model 2 Predictions:***
moth: Mammal ❌ Bug
newt: Mammal ❌ Amphibian
octopus: Mammal ❌ Invertebrate
opossum: Mammal ✔️
oryx: Mammal ✔️
ostrich: Mammal ❌ Bird
parakeet: Bird ✔️
penguin: Mammal ❌ Bird
pheasant: Bird ✔️
pike: Mammal ❌ Fish
piranha: Mammal ❌ Fish
pitviper: Mammal ❌ Reptile
platypus: Mammal ✔️
polecat: Mammal ✔️
pony: Mammal ✔️
porpoise: Mammal ✔️
puma: Mammal ✔️
pussycat: Mammal ✔️
raccoon: Mammal ✔️
reindeer: Mammal ✔️
rhea: Mammal ❌ Bird
scorpion: Mammal ❌ Invertebrate
seahorse: Mammal ❌ Fish
seal: Mammal ✔️
sealion: Mammal ✔️

***Model 3 Predictions:***
seasnake: Mammal ❌ Reptile
seawasp: Bird ❌ Invertebrate
skimmer: Bird ✔️
skua: Bird ✔️
slowworm: Mammal ❌ Reptile
slug: Mammal ❌ Invertebrate
sole: Mammal ❌ Fish
sparrow: Bird ✔️
squirrel: Mammal ✔️
starfish: Mammal ❌ Invertebrate
stingray: Mammal ❌ Fish
swan: Mammal ❌ Bird
termite: Mammal ❌ Bug
toad: Mammal ❌ Amphibian
tortoise: Mammal ❌ Reptile
tuatara: Mammal ❌ Reptile
tuna: Mammal ❌ Fish
vampire: Mammal ✔️
vole: Mammal ✔️
vulture: Mammal ❌ Bird
wallaby: Mammal ✔️
wasp: Mammal ❌ Bug
wolf: Mammal ✔️
worm: Mammal ❌ Invertebrate
wren: Bird ✔️

['nb2_preds.joblib']

### Naive Bayes III

In [149]:
nb3_preds = []

for i, model in enumerate(nb3_models):
  test_data = split_data[i]['test_data']
  test_labels = split_data[i]['test_labels']
  preds = model.predict(test_data)
  nb3_preds.append(preds)

  print(f'***Model {i} Predictions:***')
  for j, animal_idx in enumerate(test_data.index):
    animal_name = animals.iloc[animal_idx,0]
    predicted_class = preds[j]
    actual_class = test_labels.iloc[j]
    correct = predicted_class == actual_class
    if (correct):
      print(animal_name + ": " + class_dict[predicted_class] + " ✔️")
    else:
      print(animal_name + ": " + class_dict[predicted_class] + " ❌ " + class_dict[actual_class])
  print()

joblib.dump(nb3_preds, 'nb3_preds.joblib')

***Model 0 Predictions:***
aardvark: Mammal ✔️
antelope: Mammal ✔️
bass: Fish ✔️
bear: Mammal ✔️
boar: Mammal ✔️
buffalo: Mammal ✔️
calf: Mammal ✔️
carp: Fish ✔️
catfish: Fish ✔️
cavy: Mammal ✔️
cheetah: Mammal ✔️
chicken: Bird ✔️
chub: Fish ✔️
clam: Invertebrate ✔️
crab: Invertebrate ✔️
crayfish: Invertebrate ✔️
crow: Bird ✔️
deer: Mammal ✔️
dogfish: Fish ✔️
dolphin: Fish ❌ Mammal
dove: Bird ✔️
duck: Bird ✔️
elephant: Mammal ✔️
flamingo: Bird ✔️
flea: Bug ✔️
frog: Amphibian ✔️

***Model 1 Predictions:***
frog: Amphibian ✔️
fruitbat: Mammal ✔️
giraffe: Mammal ✔️
girl: Mammal ✔️
gnat: Bug ✔️
goat: Mammal ✔️
gorilla: Mammal ✔️
gull: Bird ✔️
haddock: Fish ✔️
hamster: Mammal ✔️
hare: Mammal ✔️
hawk: Bird ✔️
herring: Fish ✔️
honeybee: Bug ✔️
housefly: Bug ✔️
kiwi: Bird ✔️
ladybird: Bug ✔️
lark: Bird ✔️
leopard: Mammal ✔️
lion: Mammal ✔️
lobster: Invertebrate ✔️
lynx: Mammal ✔️
mink: Mammal ✔️
mole: Mammal ✔️
mongoose: Mammal ✔️

***Model 2 Predictions:***
moth: Bug ✔️
newt: Amphibian ✔️
octopus: Invertebrate ✔️
opossum: Mammal ✔️
oryx: Mammal ✔️
ostrich: Bird ✔️
parakeet: Bird ✔️
penguin: Bird ✔️
pheasant: Bird ✔️
pike: Fish ✔️
piranha: Fish ✔️
pitviper: Reptile ✔️
platypus: Reptile ❌ Mammal
polecat: Mammal ✔️
pony: Mammal ✔️
porpoise: Fish ❌ Mammal
puma: Mammal ✔️
pussycat: Mammal ✔️
raccoon: Mammal ✔️
reindeer: Mammal ✔️
rhea: Bird ✔️
scorpion: Reptile ❌ Invertebrate
seahorse: Fish ✔️
seal: Mammal ✔️
sealion: Mammal ✔️

***Model 3 Predictions:***
seasnake: Reptile ✔️
seawasp: Invertebrate ✔️
skimmer: Bird ✔️
skua: Bird ✔️
slowworm: Reptile ✔️
slug: Bug ❌ Invertebrate
sole: Fish ✔️
sparrow: Bird ✔️
squirrel: Mammal ✔️
starfish: Invertebrate ✔️
stingray: Fish ✔️
swan: Bird ✔️
termite: Bug ✔️
toad: Amphibian ✔️
tortoise: Bird ❌ Reptile
tuatara: Amphibian ❌ Reptile
tuna: Fish ✔️
vampire: Mammal ✔️
vole: Mammal ✔️
vulture: Bird ✔️
wallaby: Mammal ✔️
wasp: Bug ✔️
wolf: Mammal ✔️
worm: Bug ❌ Invertebrate
wren: Bird ✔️

['nb3_preds.joblib']

### Logistic Regression I

### Logistic Regression II

### Logistic Regression III

### Multi-Layer Perceptron I

### Multi-Layer Perceptron II

### Multi-Layer Perceptron III

## 8. Perform evaluation with precision / recall

### Naive Bayes I

### Naive Bayes II

### Naive Bayes III

### Logistic Regression I

### Logistic Regression II

### Logistic Regression III

### Multi-Layer Perceptron I

### Multi-Layer Perceptron II

### Multi-Layer Perceptron III

## 9. Modify parameters and retrain
See steps 6, 7, 8.

## 10. Analyze obtained results

Text Here

## References

Text Here