<a href="https://colab.research.google.com/github/ChrisHamilton91/csi4106-project1/blob/master/notebook/csi4106_p1_group100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This code imports csv and joblib files from github, then sets global variables - used to persist data

In [ ]:
import joblib

### DATA ###
# class.csv - describes classes
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/class.csv'

# zoo.csv - describes features
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/zoo.csv'

# animals - Dataframe from zoo.csv
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/animals.joblib'
animals = joblib.load('animals.joblib')

# features - Dataframe from zoo.csv with animal_name and class_type stripped
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/features.joblib'
features = joblib.load('features.joblib')

# labels - class_type labels for features
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/labels.joblib'
labels = joblib.load('labels.joblib')

# class_dict - Dictionary of { class_number: class_name }
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/class_dict.joblib'
class_dict = joblib.load('class_dict.joblib')

# train_data - training segment of features
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/train_data.joblib'
train_data = joblib.load('train_data.joblib')

# train_labels - labels for train_data
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/train_labels.joblib'
train_labels = joblib.load('train_labels.joblib')

# test_data - testing segment of features
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/test_data.joblib'
test_data = joblib.load('test_data.joblib')

# test_labels - labels for test_data
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/data/test_labels.joblib'
test_labels = joblib.load('test_labels.joblib')

### MODELS ###
# Naive Bayes I
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/models/nb1_model.joblib'
nb1_model = joblib.load('nb1_model.joblib')
# Naive Bayes II
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/models/nb2_model.joblib'
nb2_model = joblib.load('nb2_model.joblib')
# Naive Bayes III
!wget 'https://raw.githubusercontent.com/ChrisHamilton91/csi4106-project1/master/models/nb3_model.joblib'
nb3_model = joblib.load('nb3_model.joblib')

# CSI 4106 Project 1 
# Group 100

## 1. Understand the classification task

a. Is it a binary/multi-class classification dataset?

b. What is the goal? Is this for a particular classification study?

## 2. Analyze the dataset

a. Characterize the dataset in terms of number of training examples, number of features, missing data etc.

## 3. Brainstorm about attributes

a.Think about the features that could be used for this task.

## 4. Encode the features

The features are encoded as discrete values in the file 'zoo.csv'. We just need to strip the 'animal_name' and 'class_type' columns.

We encode the 'class_type' column as the feature labels.

We will also extract the names of classes from 'class.csv', and map them to their associated number.

We save the objects to a joblib file and transfer them to github for persistence. You can see them being imported at the top of the notebook.

In [36]:
import pandas as pd
import joblib

animals = pd.read_csv('zoo.csv')
joblib.dump(animals, 'animals.joblib')

features = animals.iloc[:,1:-1] # trim animal name and class_type
joblib.dump(features, 'features.joblib')

labels = animals.iloc[:,-1] # just class_type
joblib.dump(labels, 'labels.joblib')

classes = pd.read_csv('class.csv')
class_dict = {}
for _, row in classes.iterrows():
   class_dict[row.Class_Number] = row.Class_Type
joblib.dump(class_dict, 'class_dict.joblib')

print('***************ANIMALS***************')
print()
print(animals)
print()
print('***************FEATURES***************')
print()
print(features)
print()
print('***************LABELS***************')
print()
print(labels)
print()
print('***************CLASS_DICT***************')
print()
print(class_dict)
print()

***************ANIMALS***************

    animal_name  hair  feathers  eggs  milk  airborne  aquatic  predator  \
0      aardvark     1         0     0     1         0        0         1
1      antelope     1         0     0     1         0        0         0
2          bass     0         0     1     0         0        1         1
3          bear     1         0     0     1         0        0         1
4          boar     1         0     0     1         0        0         1
..          ...   ...       ...   ...   ...       ...      ...       ...
96      wallaby     1         0     0     1         0        0         0
97         wasp     1         0     1     0         1        0         0
98         wolf     1         0     0     1         0        0         1
99         worm     0         0     1     0         0        0         0
100        wren     0         1     1     0         1        0         0

     toothed  backbone  breathes  venomous  fins  legs  tail  domestic  \
0          1         1         1         0     0     4     0         0
1          1         1         1         0     0     4     1         0
2          1         1         0         0     1     0     1         0
3          1         1         1         0     0     4     0         0
4          1         1         1         0     0     4     1         0
..       ...       ...       ...       ...   ...   ...   ...       ...
96         1         1         1         0     0     2     1         0
97         0         0         1         1     0     6     0         0
98         1         1         1         0     0     4     1         0
99         0         0         1         0     0     0     0         0
100        0         1         1         0     0     2     1         0

     catsize  class_type
0          1           1
1          1           1
2          0           4
3          1           1
4          1           1
..       ...         ...
96         1           1
97         0           6
98         1           1
99         0           7
100        0           2

[101 rows x 18 columns]

***************FEATURES***************

     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
0       1         0     0     1         0        0         1        1
1       1         0     0     1         0        0         0        1
2       0         0     1     0         0        1         1        1
3       1         0     0     1         0        0         1        1
4       1         0     0     1         0        0         1        1
..    ...       ...   ...   ...       ...      ...       ...      ...
96      1         0     0     1         0        0         0        1
97      1         0     1     0         1        0         0        0
98      1         0     0     1         0        0         1        1
99      0         0     1     0         0        0         0        0
100     0         1     1     0         1        0         0        0

     backbone  breathes  venomous  fins  legs  tail  domestic  catsize
0           1         1         0     0     4     0         0        1
1           1         1         0     0     4     1         0        1
2           1         0         0     1     0     1         0        0
3           1         1         0     0     4     0         0        1
4           1         1         0     0     4     1         0        1
..        ...       ...       ...   ...   ...   ...       ...      ...
96          1         1         0     0     2     1         0        1
97          0         1         1     0     6     0         0        0
98          1         1         0     0     4     1         0        1
99          0         1         0     0     0     0         0        0
100         1         1         0     0     2     1         0        0

[101 rows x 16 columns]

***************LABELS***************

0      1
1      1
2      4
3      1
4      1
      ..
96     1
97     6
98     1
99     7
100    2
Name: class_type, Length: 101, dtype: int64

***************CLASS_DICT***************

{1: 'Mammal', 2: 'Bird', 3: 'Reptile', 4: 'Fish', 5: 'Amphibian', 6: 'Bug', 7: 'Invertebrate'}

## 5. Prepare data using cross-validation

We split the data into 80% training and 20% testing.

In [41]:
import joblib
from sklearn.model_selection import train_test_split

train_data, test_data, train_labels, test_labels = train_test_split(
   features, labels, test_size = 0.20, random_state = 1
)

joblib.dump(train_data, 'train_data.joblib')
joblib.dump(test_data, 'test_data.joblib')
joblib.dump(train_labels, 'train_labels.joblib')
joblib.dump(test_labels, 'test_labels.joblib')

print('***************TRAIN_DATA***************')
print()
print(train_data)
print()
print('***************TRAIN_LABELS***************')
print()
print(train_labels)
print()
print('***************TEST_DATA***************')
print()
print(test_data)
print()
print('***************TEST_LABELS***************')
print()
print(test_labels)
print()

***************TRAIN_DATA***************

    hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
32     1         0     0     1         0        0         0        1
40     1         0     1     0         1        0         0        0
39     1         0     1     0         1        0         0        0
38     0         0     1     0         0        1         1        1
46     0         0     1     0         0        1         1        0
..   ...       ...   ...   ...       ...      ...       ...      ...
75     1         0     0     1         0        1         1        1
9      1         0     0     1         0        0         0        1
72     0         0     0     0         0        0         1        0
12     0         0     1     0         0        1         1        1
37     0         1     1     0         1        0         1        0

    backbone  breathes  venomous  fins  legs  tail  domestic  catsize
32         1         1         0     0     2     0         0        1
40         0         1         0     0     6     0         0        0
39         0         1         1     0     6     0         1        0
38         1         0         0     1     0     1         0        0
46         0         0         0     0     6     0         0        0
..       ...       ...       ...   ...   ...   ...       ...      ...
75         1         1         0     1     2     1         0        1
9          1         1         0     0     4     0         1        0
72         0         1         1     0     8     1         0        0
12         1         0         0     1     0     1         0        0
37         1         1         0     0     2     1         0        0

[80 rows x 16 columns]

***************TRAIN_LABELS***************

32    1
40    6
39    6
38    4
46    7
     ..
75    1
9     1
72    7
12    4
37    2
Name: class_type, Length: 80, dtype: int64

***************TEST_DATA***************

     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
94      1         0     0     1         0        0         0        1
78      0         1     1     0         1        1         1        0
17      1         0     0     1         0        0         0        1
100     0         1     1     0         1        0         0        0
36      1         0     0     1         0        0         0        1
85      0         0     1     0         0        1         1        0
55      1         0     0     1         0        0         0        1
83      0         1     1     0         1        0         0        0
82      0         0     1     0         0        1         0        1
52      0         0     1     0         0        1         1        1
95      0         1     1     0         1        0         1        0
44      1         0     0     1         0        0         1        1
31      1         0     0     1         0        0         0        1
93      1         0     0     1         1        0         0        1
65      1         0     0     1         0        0         0        1
35      1         0     0     1         0        0         0        1
66      0         0     0     1         0        1         1        1
70      1         0     0     1         0        0         0        1
81      0         0     1     0         0        0         0        0
80      0         0     1     0         0        0         1        1
33      0         1     1     0         1        1         1        0

     backbone  breathes  venomous  fins  legs  tail  domestic  catsize
94          1         1         0     0     4     1         0        0
78          1         1         0     0     2     1         0        0
17          1         1         0     0     4     1         0        1
100         1         1         0     0     2     1         0        0
36          1         1         0     0     4     1         0        0
85          0         0         0     0     5     0         0        0
55          1         1         0     0     4     1         0        1
83          1         1         0     0     2     1         0        0
82          1         0         0     1     0     1         0        0
52          1         1         0     0     4     1         0        0
95          1         1         0     0     2     1         0        1
44          1         1         0     0     4     1         0        1
31          1         1         0     0     4     1         1        1
93          1         1         0     0     2     1         0        0
65          1         1         0     0     4     1         1        1
35          1         1         0     0     4     1         1        0
66          1         1         0     1     0     1         0        1
70          1         1         0     0     4     1         1        1
81          0         1         0     0     0     0         0        0
80          1         1         0     0     0     1         0        0
33          1         1         0     0     2     1         0        0

***************TEST_LABELS***************

94     1
78     2
17     1
100    2
36     1
85     7
55     1
83     2
82     4
52     5
95     2
44     1
31     1
93     1
65     1
35     1
66     1
70     1
81     7
80     3
33     2
Name: class_type, dtype: int64

## 6. Train 3 models (includes re-training)

### Naive Bayes I

We use Bernoulli Naive Bayes with the default parameters:

alpha: 1.0

fit_prior: true

In [54]:
from sklearn.naive_bayes import BernoulliNB

nb1_model = BernoulliNB().fit(train_data, train_labels)
joblib.dump(nb1_model, 'nb1_model.joblib')

['nb1_model.joblib']

### Naive Bayes II

We use Bernoulli Naive Bayes and change the alpha (smoothing parameter) to 100:

alpha: 100.0

fit_prior: true

In [52]:
from sklearn.naive_bayes import BernoulliNB

nb2_model = BernoulliNB(alpha=100.0).fit(train_data, train_labels)
joblib.dump(nb2_model, 'nb2_model.joblib')

['nb2_model.joblib']

### Naive Bayes III

We use Bernoulli Naive Bayes and change fit_prior to False, which uses a uniform prior:

alpha: 0.0

fit_prior: false

In [53]:
from sklearn.naive_bayes import BernoulliNB

nb3_model = BernoulliNB(fit_prior=False).fit(train_data, train_labels)
joblib.dump(nb3_model, 'nb3_model.joblib')

['nb3_model.joblib']

### Logistic Regression I

### Logistic Regression II

### Logistic Regression III

### Multi-Layer Perceptron I

### Multi-Layer Perceptron II

### Multi-Layer Perceptron III

## 7. Test models using cross validation

### Naive Bayes I

In [47]:
nb1_preds = nb1_model.predict(test_data)

print("Predictions:")
for i, animal_idx in enumerate(test_data.index):
  animal_name = animals.iloc[animal_idx,0]
  predicted_class = nb1_preds[i]
  class_name = class_dict[predicted_class]
  print(animal_name + ": " + class_name)

Predictions:
vole: Mammal
skimmer: Bird
deer: Mammal
wren: Bird
hare: Mammal
starfish: Invertebrate
oryx: Mammal
sparrow: Bird
sole: Fish
newt: Amphibian
vulture: Bird
leopard: Mammal
goat: Mammal
vampire: Mammal
pony: Mammal
hamster: Mammal
porpoise: Mammal
reindeer: Mammal
slug: Bug
slowworm: Reptile
gull: Bird

### Naive Bayes II

### Naive Bayes III

### Logistic Regression I

### Logistic Regression II

### Logistic Regression III

### Multi-Layer Perceptron I

### Multi-Layer Perceptron II

### Multi-Layer Perceptron III

## 8. Perform evaluation with precision / recall

### Naive Bayes I

### Naive Bayes II

### Naive Bayes III

### Logistic Regression I

### Logistic Regression II

### Logistic Regression III

### Multi-Layer Perceptron I

### Multi-Layer Perceptron II

### Multi-Layer Perceptron III

## 9. Modify parameters and retrain
See steps 6, 7, 8.

## 10. Analyze obtained results

Text Here

## References

Text Here